table {
  width: 100%;
}

th.mat-header-cell {
  text-align: center;
}

td.mat-cell {
  text-align: center;
  cursor: pointer;
}

.table-actions {
  height: 100%;
  display: flex;
  align-items: center;
}
